div .banner-up{
    display: grid;
    grid-template-columns: 80px 4fr 80px;
    grid-template-rows: 100%;
}


div .banner-up .menu{
    /* content:"";
    background:url("img/three-line-menu-icon-28.png"); */
    
    border: var(--border-global);
    background-size:contain;
    background-repeat: no-repeat;
    position: relative;
}

.pic-one{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
    width: 50%;
}


.pic-two{
    margin: 20px;
}
.pic-three{
    display: block;
    margin: 20px;
    width: 50%;

}
.logo img{
    /* position: absolute; */
    /* padding: 30px; */
    /* height: 100%;
    width: 100%; */
    /* background-repeat: repeat; */
}
div .banner-up .logo{
    background-color: white;
    border: var(--border-global);
    /* border: 10px; */
}

div .banner-up .cadena{
    border: var(--border-global);
}
/* .menu, .logo .cadena{
    position: relative;
    padding: 10px;
} */
/* .banner-up .logo{
    content:"";
    background:url("img/three-line-menu-icon-28.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    margin-bottom: 10px;
} */

div .title-of-page{
    position: relative;
    /* padding-top: 50px; */
    color : white;
    font-size: 40px;
    font-family: Verdana;
    padding: 10px;
    background-image: linear-gradient(118deg, #267fed -14%, #1cc7f2);

    /* top: 50px; */
    /* left: 50px; */
}


div .footer{
    background-image: linear-gradient(to top, #1170d6, #14b0da);;
    padding: 10px 10px;
    color: white;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}


.question {
    border: var(--border-global);
    padding: 20px;
}

.not-shown{
    max-height: 0px;
    opacity: 0;
}



.con{
    margin: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 450px 1fr;
    grid-template-rows: 0.2fr 0.2fr 3fr;
    grid-template-areas: 
        "banner-up banner-up" "title-of-page footer" "questions footer";
    width: var(--screen-width); 
    border-width: 2px;
}

.banner-up{
    grid-area: banner-up ;
    /* background-color: red; */
}

.title-of-page{
    grid-area: title-of-page;
    /* background-color: rosybrown; */
}

.questions{
    grid-area: questions;
    /* background-color: royalblue; */
    border: var(--border-global);
}

.footer{
    grid-area: footer;
    /* background-color:saddlebrown; */
}




@media only screen and (max-width: 800px){
    .all-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.2fr 3fr 0.2fr;
        grid-template-areas: 
        "banner-up" "title-of-page" "questions" "footer"
        ;
    }
} 








/************************************************** SelectList CSS ******************************************/
:root{
    --border-global: solid #cccccc 0.1px;
    --screen-width: 1000px;
    /* --screen-breakpoint: 550px; */

}

* {
    margin: 0;
    /* box-sizing: border-box; */
}

body{
    font-family: "BNPSans", "Fira Sans";
    background-color: #f7f6ff;
    /* margin: 0 auto; */
}

h2{
    margin: 1px;
    font: 1.2em "Fira Sans", sans-serif;
    /* border : var(--border-global); */
    padding-bottom : 16px;
}


.select-box{
    display: flex;
    width: 100%;
    flex-direction: column ;
}

.selected{
    background-color: #ffff;
    color: #999999;
    font: 1.2em "Fira Sans", sans-serif;    
    /* border-radius: 8px; */
    /* margin-bottom: 8px; */
    /* padding: 10px; */
    position: relative;
    order: -2;
}

.selected::after{
    content: "";
    background: url("img/grey-down-arrow-icon-png-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 12px;

    transition: all 1s;
}

.select-box .options-container{
    background-color: #ffff;
    color: #999999;
    max-height: 0px;
    width: 100%;
    opacity: 0;
    /* transition: all 0.4s 0.4s; */
    border-radius: 8px;
    overflow: hidden;

    order: -1;
}

.select-box .options-container.active{
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    /* margin: ; */
}

.select-box .options-container.active + .selected::after{
    transform: rotate(180deg);
    top: -12px;
}

.select-box .options-container::-webkit-scrollbar{
    width: 8px;
    background-color: #267fed ;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb{
    height: 1px;
    
    background-color: #1cc7f2;
    border-radius: 0 8px 8px 0;
}

.selected{
    padding: 12px 24px;
    margin: 0 10px;
    cursor: pointer;
    border: var(--border-global);
}

.select-box .option{
    padding: 12px 24px;
    margin: 0 2px 0px 10px;
    cursor: pointer;
    font-family: "Fira Sans", "sans serif";
    border: var(--border-global);
}



.select-box .option:hover{
    background-color: #2491ee;
    color: white;
}

.select-box label{
    cursor:pointer;
}

.select-box .option .radio{
    display: none;
}












